.PokeList { 
    margin: 2rem;
    padding: 2rem;
    border: thin solid blanchedalmond;
    background-color: blanchedalmond;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
} 
