@mixin Product {
  margin: .5rem;
  background-color: beige;
  border: 1px solid black;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .25rem;
  transition-duration: 0.4s;

  &:hover {
    scale: 1.02;
  }
}

@mixin Img {
  width: calc(10vw - 2px);
  display: flex;
  justify-content: center;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;  
}

@mixin Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  padding: .25rem .75rem;
  background-color: black;
  color: white;
  border-radius: .25rem;
  cursor: pointer;
}