.EmployeeDetail { 
    flex: 8;
    background-color: white;
    margin-bottom: .5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .TextInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            margin: 1rem;
        }
    }

    .Multimedia {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: 80%;
        
        div {
            margin: 1rem;
        }
    }
} 
