$bg-success:  rgb(168, 255, 168);
$bg-danger:  rgb(255, 152, 152);

@mixin Server {
  margin: 1rem;
  padding: 1rem;
  border: thin solid gray;
  background-color: whitesmoke;
  display: inline-block;
  text-align: center;
}

@mixin Pill($bg-color) {
  position: relative;
  margin: .5rem;
  padding: .25rem;
  text-align: center;
  border-radius: .12rem;
  border: thin solid $bg-color;
  background-color: $bg-color;

  &:after {
    right: -1rem;
    content: '';
    top: 0.5rem;
    padding: .25rem;
    position: absolute;
    border-radius: 50%;
    background-color: $bg-color
  }
}
