@import "../variables";

.Server {
  @include Server;

  .Header {
    margin: 0.5rem;
  }

  .PillOn {
    @include Pill($bg-success);
  }

  .PillOff {
    @include Pill($bg-danger);
  }

  .Btn {
    cursor: pointer;
    margin: 0.5rem;
    padding: .125rem;
  }
}